@import "nib/reset"
@import "nib/vendor"

global-reset()

*
  margin 0
  padding 0
  box-sizing border-box
  font-smoothing antialiased

html
  border-top 10px dashed #F1EDE9

body
  font-family 'Helvetica Neue', sans-serif
  line-height 2
  color #666
  font-size 18px
  background #fefefe
