---
layout: default
---
<article>
  <header>
    <h1>{{page.title}}</h1>
    <p class="author">Skriven av <a href="https://github.com/{{page.author}}">{{page.author}}</a> <time>{{page.date|date: "%d.%m.%Y"}}</time></p>
  </header>
  {{content}}
</article>


<div style="margin-top:50px;">
    <script src="https://utteranc.es/client.js"
            repo="webkom/webkom.github.io"
            label="post_comment"
            issue-term="pathname"
            theme="github-light"
            crossorigin="anonymous"
            async>
    </script>
</div>


<p><a href="/" class="return-to-base">&larr; Attende</a></p>
